html 
     link(rel="stylesheet" href="/style.css"  )
     head
        h1 This is my workout API! 
     body 
         h2 This get will display all workouts
         h3 GET /workout 
         h2 This get will display all workouts that are incorporated with the identified body
         h3 GET /workout/{body} 
         br
         h2 This get will display all equipment 
         h3 GET /workout/{equipment}
         br
         h2 This post will let user post workouts 
         h3 POST /workout
     body 